html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: transparent;
  color: rgb(var(--dark-onBackground));
}

main {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(var(--light-primary));
  text-decoration: none;
}

a:hover {
  color: rgb(var(--light-primary-variant));
  text-decoration: underline;
}

main {
  position: relative;
}

select {
  text-transform: capitalize;
}
